<link rel="stylesheet" href="{{ "/assets/css/code-highlight-rouge.css" | relative_url }}">

{%- assign name = 'code_badge.enabled' -%}
{%- include functions.html func='get_value' default='true' -%}
{%- assign badge_enabled = return -%}

{%- assign name = 'code_badge.color' -%}
{%- include functions.html func='get_value' default='#fff' -%}
{%- assign badge_color = return -%}

{%- assign name = 'code_badge.background_color' -%}
{%- include functions.html func='get_value' default='#ff4e00' -%}
{%- assign badge_background_color = return -%}

{%- assign name = 'code_badge.text_transform' -%}
{%- include functions.html func='get_value' default='uppercase' -%}
{%- assign badge_text_transform = return -%}

{%- if badge_enabled -%}
<script>
document.addEventListener('DOMContentLoaded', function(event) {
  function getLangFromClass(elem) {
    for (cls of elem.classList) {
      if (cls.startsWith('language-')) {
        return cls.substr(9);
      }
    }
    return null;
  }

  function addBadge(preElem, lang) {
    let badgeWrapper = document.createElement('div');
    badgeWrapper.classList.add('badge-wrapper')

    let badge = document.createElement('div');
    badge.classList.add('badge');
    badge.append(lang);

    preElem.replaceWith(badgeWrapper);
    badgeWrapper.append(badge, preElem);
  }

  // Kramdown code blocks (Rouge highlighter):
  //   div.highlighter_rouge.language-XXX > div.highlight > pre.highlight > code
  document.querySelectorAll('.highlighter-rouge').forEach((e) => {
    let pre = e.querySelector('pre');
    if (pre !== null) {
      let lang = getLangFromClass(e);
      if (lang !== null) {
        addBadge(pre, lang);
      }
    }
  });

  // Liquid code blocks (any highlighter):
  //   figure.highlight > pre > code.language-XXX[data-lang="XXX"]
  // Kramdown code blocks (no highlighter):
  //   pre > code.language-XXX
  document.querySelectorAll('pre > code').forEach((e) => {
    let lang = e.hasAttribute('data-lang')
      ? e.getAttribute('data-lang')   // Liquid
      : getLangFromClass(e);          // Kramdown

    if (lang !== null) {
      addBadge(e.parentElement, lang);
    }
  });
});
</script>

<style>
  .badge-wrapper {
    position: relative;
  }

  .badge-wrapper .badge {
    position: absolute;
    top: 0;
    right: 0;

    min-width: 32px;
    padding: 0 .5em;
    border-bottom-left-radius: 2px;
    text-align: center;

    color: {{badge_color}};
    background-color: {{badge_background_color}};
    text-transform: {{badge_text_transform}};
  }
</style>
{%- endif -%}
