@import "fa/fontawesome.scss";
@import "fa/solid.scss";
@import "fa/regular.scss";
@import "fa/brands.scss";

.fa-arrow-up-right-from-square {
  font-size: 0.8em;
  margin-left: 5px;
  vertical-align: 15%;
}

.fa-calendar-day {
  vertical-align: 10%;
}

.fa-newspaper {
  vertical-align: 5%;
}

.fa-pen-to-square {
  vertical-align: 7%;
}
