@import "fa/fontawesome.scss";
@import "fa/solid.scss";
@import "fa/regular.scss";

.fa-arrow-up-right-from-square {
  font-size: 0.8em;
  margin-left: 5px;
  vertical-align: 15%;
}

.fa-calendar-day {
  font-size: 0.8em;
  vertical-align: 16.5%;
}

.fa-pen-to-square {
  font-size: 0.8em;
  margin-left: 1px;
  vertical-align: 15%;
}
