<div class="page-segments">
  {%- if include.unpublished.size > 0 -%}
    <h2 id="unpublished" class="segment-name">Unpublished / Early Access</h2>
    <div>
      <ul class="page-segments-list">
        {%- for item in include.unpublished -%}
          <li> {%- include views/post-item.html -%} </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}

  {%- assign end = include.end | times: 10 -%}
  {%- for year in (end..include.max) reversed -%}
  {%- assign items = include.published | where: "date", year -%}
  <h2 id="{{ year }}" class="segment-name">{{ year }}</h2>
  <ul class="page-segments-list">
    {%- for item in items -%}
      {%- if item != nil -%}
      <li> {%- include views/post-item.html -%} </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
  {%- endfor -%}

  {%- assign start = include.start | plus: 1 -%}
  {%- for i in (start..include.end) reversed -%}
    {%- assign next = i | times: 10 | minus: 1 -%}
    {%- assign curr = next | minus: 9 -%}
    {%- assign date_range = curr | append: "-" | append: next -%}

    {%- assign curr_date = curr | append: "-01-01" | to_time -%}
    {%- assign next_date = next | plus: 1 | append: "-01-01" | to_time -%}
    {%- assign items = include.published
      | where_exp: "item", "item.date >= curr_date"
      | where_exp: "item", "item.date <= next_date" -%}
    <h2 id="{{ date_range }}" class="segment-name">{{ date_range }}</h2>
    <div>
      {%- for year in (curr..next) reversed -%}
        {%- assign year_items = items | where: "date", year -%}
        {%- if year_items.size == 0 -%}
          {%- continue -%}
        {%- endif -%}
        <h3 id="{{ year }}" class="segment-subname">{{ year }}</h3>
        <ul class="page-segments-list">
          {%- for item in year_items -%}
            <li> {%- include views/post-item.html -%} </li>
          {%- endfor -%}
        </ul>
      {%- endfor -%}
    </div>
  {%- endfor -%}
</div>
