<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="site-footer-inner">
        {%- assign currentYear = 'now' | date: "%Y" -%}
        {%- assign copyright = site.copyright
            | replace: '{currentYear}', currentYear
            | replace: '{author}', site.author
            | replace: '(c)', '&copy;'
            | replace: '(p)', '℗'
            | replace: '(cleft)', '<span class="copyleft">&copy;</span>'
        -%}
      <div class="footer-col rss-subscribe">
        <a href="{{ "/feed.xml" | relative_url }}" title="Feed RSS" target="_blank" rel="noopener noreferrer"><i
        class="fa fa-solid fa-rss" aria-hidden="true"></i> RSS</a> 
        <a href="https://twitter.com/oz_explorer" title="Twitter" target="_blank" rel="noopener noreferrer"><i
      class="fa fa-brands fa-twitter" aria-hidden="true"></i> Twitter</a> 
      </div>
      <div>{{ copyright }}</div>
    </div>
  </div>
</footer>
