{%- if include.item -%}
  {%- assign item = include.item -%}
{%- endif -%}

{%- assign post = item -%}

{%- assign date_format = site.yat.date_format | default: "%b %-d, %Y" -%}
{%- assign post_date = post.date | date: date_format -%}
{%- if post.accepted_in -%}
  {%- assign post_date = post.accepted_in | date: date_format -%}
  {%- assign post_date = "(Accepted in) " | append: post_date -%}
{%- endif -%}
<span class="post-meta">{{ post_date }}</span>
<span>
  <a class="post-link" href="{{ post.url | relative_url }}" {%- if post.redirect_to -%} target="_blank" rel="noopener noreferrer"{%- endif -%}>
    {{ post.title }}
    {%- include views/post-badges.html -%}
  </a>
</span>
