{%- assign ydf = site.yat.date_format | default: "%b %-d, %Y" -%}
{%- assign ldf = site.last-modified-at.date_format | default: "%b %-d, %Y" -%}

{%- if page.date_format -%}
{%- assign date_format = page.date_format -%}
{%- else -%}
{%- assign date_format = ydf -%}
{%- endif -%}

{%- if page.accepted_in -%}
{%- assign prefix = "(Accepted in) " -%}
{%- assign page_date = page.accepted_in | date: date_format -%}
{%- assign page_date = prefix | append: page_date -%}
{%- assign page_date_schema = page.accepted_in | date_to_xmlschema -%}
{%- else -%}
{%- assign page_date = page.date | date: date_format -%}
{%- assign page_date_schema = page.date | date_to_xmlschema -%}
{%- endif -%}


<header class="post-header">
  <h1 class="post-title p-name" itemprop="name headline">{{ heading | default: page.title | escape }}</h1>
  <h2 class="post-subtitle">{{ subheading | default: page.subtitle | escape }}</h2>

  <div class="post-meta">
    <div class="post-meta-inner">
      <time class="dt-published" datetime="{{ page_date_schema }}" itemprop="datePublished">
        <i class="fa-solid fa-calendar-day"></i> {{ page_date }}</time>
      {%- if page.use_mtime -%}
      <span class="left-vsplit"><i class="fa-solid fa-pen-to-square"></i> {{ page.last_modified_at | date: ldf }}</span>
      {%- endif -%}
    </div>
  </div>

  {%- if page.tags.size > 0 -%}
  <div class="post-tags">
    {%- for tag in page.tags -%}
    <a class="post-tag" href="{{ '/publications/tags.html ' | relative_url }}#{{tag}}">#{{tag}}</a>
    {%- endfor -%}
  </div>
  {%- endif -%}

</header>
