{%- assign ydf = site.yat.date_format | default: "%b %-d, %Y" -%}
{%- assign ldf = site.last-modified-at.date_format | default: "%b %-d, %Y" -%}

{%- if page.date_format -%}
{%- assign date_format = page.date_format -%}
{%- else -%}
{%- assign date_format = ydf -%}
{%- endif -%}

<header class="post-header">
  <h1 class="post-title p-name" itemprop="name headline">{{ heading | default: page.title | escape }}</h1>
  <h2 class="post-subtitle">{{ subheading | default: page.subtitle | escape }}</h2>

  <p class="post-meta">
    <span class="post-meta-inner">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        <i class="far fa-calendar-alt"></i> {{ page.date | date: date_format }}
      </time>
      {%- if page.use_mtime -%}
      <span class="left-vsplit"><i class="fas fa-edit"></i> {{ page.last_modified_at | date: ldf }}</span>
      {%- endif -%}
    </span>
  </p>

  {%- if page.tags.size > 0 -%}
  <div class="post-tags">
    {%- for tag in page.tags -%}
    <a class="post-tag" href="{{ '/publications/tags.html ' | relative_url }}#{{tag}}">#{{tag}}</a>
    {%- endfor -%}
  </div>
  {%- endif -%}

</header>
