$dark-text-color: #bbb !default;
$dark-background-color: #0e0e0e !default;
$dark-emph-background-color: #333 !default;

html[data-theme="dark"] {
  &[data-scroll-status="top"] {
    header.site-header-transparent {
      &.site-header {
        @include media-query($on-laptop) {
          .page-link {
            color: #f8f8f8;
          }
        }
      }
    }

    footer.site-footer .site-footer-inner {
      border-top: solid 1px #2f2f2f !important;
      transition: 0s;
    }
  }

  body {
    color: $dark-text-color;
    background-color: $dark-background-color;
  }

  *:not(pre) > code {
    background-color: #454545;
  }

  *:not(pre, a) > code {
    color: $dark-text-color;
  }

  blockquote {
    border-left: 4px solid #484848;
  }

  table {
    color: #9d9d9d;

    th {
      background-color: $dark-text-color;
      color: $dark-background-color;
    }

    tr:nth-child(even) {
      background-color: $dark-emph-background-color;
    }
  }

  .site-header {
    background-color: #090909;

    .site-brand .site-brand-inner {
      &,
      &:visited {
        color: #f8f8f8;
      }
    }

    .site-nav .page-link {
      color: #f8f8f8;
    }

    .ct-language-dropdown {
      color: #f8f8f8;
      background-color: $dark-background-color;
      box-shadow: 0 0 3px 1px #0000005b;
    }

    .ct-language-selected,
    .ct-language-dropdown li:hover {
      background-color: #222 !important;
    }

    @include media-query($on-laptop) {
      .menu-icon > svg {
        fill: rgba($dark-text-color, 80%);
      }

      .site-nav input:checked ~ .trigger {
        background-color: #090909;
      }
    }
  }

  .site-footer {
    color: #fff;
    background-color: $dark-emph-background-color;
    .site-footer-inner .footer-icon * {
      color: #fff;
    }
  }

  .left-vsplit:before {
    background-color: #9a9a9a;
  }

  .page-banner {
    background-color: $dark-emph-background-color;

    .page-banner-img > *:first-child {
      opacity: 0.718;
    }
  }

  .pagination {
    .post-link {
      color: $dark-text-color;
    }

    .post-title a:visited {
      color: $grey-color;
    }

    .post-list > li:not(:last-child) {
      border-bottom: 1px solid #545454;
    }

    .post-tags .post-tag:hover {
      color: #d7d7d7;
    }
  }

  .page-segments li a {
    color: #ddd;

    &:visited {
      color: $grey-color;
    }
  }

  .post {
    hr {
      background-color: $dark-text-color;

      &.sub-separator {
        background-color: #545454;
      }
    }

    .post-header {
      border-bottom: 1px solid $dark-text-color;
    }

    .post-content {
      img:not([raw]) {
        background-color: #ffffff33;
      }
    }
  }

  .post-related {
    & > *:first-child {
      color: #d7d7d7;
    }

    a:visited:after {
      background-color: $dark-background-color;
    }

    a:after {
      color: $dark-background-color;
    }

    a:hover {
      color: #aaa;
    }
  }

  .common-list {
    li {
      border-bottom: solid 1px #40404088;

      a {
        color: #aaa;
      }

      a:hover {
        background-color: #272727;
      }

      span {
        color: $black-color;
        background: #ffffffbd;
      }
    }
  }

  .post-menu {
    .post-menu-title {
      color: #ddd;
    }

    .post-menu-content {
      ul {
        border-left: 1px solid #787878;

        .active {
          background-color: #2d2d2d;
          border-left: 2px solid #aaa;
        }

        a {
          color: $dark-text-color;
        }

        a:hover {
          color: #fff !important;
        }
      }
    }
  }
}
