  <div id="disqus_recommendations"></div>
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ page.url | absolute_url }}';
      this.page.identifier = '{{ page.url | absolute_url }}';
    };

    // Disqus recommendations
    (function() {
      if ({{ site.disqus.enable_recommendations | default: false }} === false) {
        return
      }
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.disqus.shortname }}.disqus.com/recommendations.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();

    // Disqus comments
    (function() {
      if ({{ site.disqus.enable_comments | default: true }} === false) {
        return
      }
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();

    // Disqus theme switching
    document.addEventListener('theme-changed', function (e) {
      if (document.readyState == 'complete') {
        setTimeout(function () {
          if (window.DISQUS_RECOMMENDATIONS) {
            window.DISQUS_RECOMMENDATIONS.reset({ reload: true });
          }
          if (window.DISQUS) {
            window.DISQUS.reset({ reload: true, config: disqus_config });
          }
        }, 100);
      }
    });
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
