{%- if page.banner == nil -%}
{%- assign banner = page.title -%}
{%- endif -%}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include views/header.html -%}

  {%- include views/banner.html -%}

  <div class="home">
    {%- include extensions/theme-toggle.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  </div>

  {%- include views/footer.html -%}

</body>

</html>
